@import "../../vars.css";
.container {
  position: relative;
  margin-left: 15%;
  margin-right: 8%;
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 1%;
}
.projectsDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.card6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 5%;
  background: var(--color-card6);
  width: 30%;
  border: 2px solid var(--color-card6-border);
  border-radius: 30px;
  gap: 20px;
}
.card6 ul{
    list-style: none;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
    width: auto;
    color: var(--color-text2);
}
.card6Name {
  font-size: 24px;
  color: var(--color-text1);
}
.card6Type {
  font-size: 20px;
  color: var(--color-text1);
  background: var(--color-button3);
  border: 2px solid var(--color-button3-border);
  padding: 10px 20px;
  width: auto;
  text-align: center;
  color: #fff;
  border-radius: 20px;
}
.card6 a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 50px;
  background: var(--color-button2);
  border-radius: 20px;
}
