@import "../../vars.css";
.container {
  position: relative;
  margin-left: 15%;
  margin-right: 8%;
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 1%;
}
.skillDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.card5 {
  background: var(--color-card5);
  padding: 3%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 30px;
  gap: 10px;
  width: 30%;
}
.card5Details {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card5Name {
  font-size: 26px;
}
.card5Works {
  font-size: 22px;
}
