@import "../../vars.css";
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 1000;
  background-color: var(--color-background);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.title {
  font-size: 30px;
  text-decoration: none;
  color: var(--color-text1);
  font-family: var(--font-ingrid-darling);
}
.menu {
  display: flex;
}
.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}
.menuItems li {
  font-size: 25px;
  color: var(--color-text1);
  text-decoration: none;
  font-family:'Poppins', sans-serif;
}
.menuBtn {
  display: none;
}
