@import "../../vars.css";

.container {
  position: relative;
  margin-left: 15%;
  margin-right: 8%;
  margin-top: 150px;
  margin-bottom: 100px;
  padding: 1%;
}
.experienceDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card4 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  background: var(--color-card4);
  border: 2px solid var(--color-card4-border);
  padding: 2% 5%;
  border-radius: 30px;  
}
.card4Details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.list {
  list-style: none;
  color: var(--color-text2);
  font-size: 18px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--color-text4);
  font-size: 24px;
}
.detailsDuration{
    font-size: 18px;
}
